* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 5px;
}

#main {
    width: 70vw;
    height: 2.5vh;
    text-transform:uppercase;
}

.buton {
    display: flex;
}

button {
    margin: 2px;
    border-radius: 25px;
    padding: 5px;
}

#result {
    max-width: 90vw;
    padding: 5px;
    overflow-wrap: break-word;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
}